@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x :hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* For WebKit browsers (such as Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #27272A; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c; /* Color of the scrollbar thumb */
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; /* Color of the thumb on hover */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input{
  text-indent: 0.7rem;
}
input::placeholder{
  text-indent: 0.7rem;
  font-size: small;
}